In [5]:
# import data packages
import pandas as pd
import numpy as np
import datetime
import time

In [7]:
#retrieve 'log.csv' file from our project folder
log = pd.read_csv('log.csv')
log.head()

,Unnamed: 0,Symi Fortuna,Kaniva Swifty,Rothwell Horse,Esmay Nelly,Cash Destroyer,Symi Ventura,Shavana,Robell Magic,Arch Of Daisys,...,Fynn Frost Nz,Hickstead Nz,Mister Gently,Rockandahardplace,Check In Nz,Arden Roanoke Nz,Aqua Sancta Nz,Cullenburn Nz,Ryley Major,Call Me Hector
0,0,"[51.0, 390.0, 1669536597.1688125]","[13.0, 24.0, 1669536597.1688125]","[9.0, 17.0, 1669536597.1688125]","[9.0, 11.5, 1669536597.1688125]","[1.55, 1.86, 1669536597.1688125]","[91.0, 830.0, 1669536597.1688125]","[8.0, 11.0, 1669536597.1688125]","[6.0, 8.0, 1669536597.1688125]",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,"[51.0, 330.0, 1669536598.3914204]","[13.0, 21.0, 1669536598.3914204]","[9.0, 17.0, 1669536598.3914204]","[9.0, 11.5, 1669536598.3914204]","[1.55, 1.85, 1669536598.3914204]","[91.0, 830.0, 1669536598.3914204]","[8.0, 11.0, 1669536598.3914204]","[6.0, 8.0, 1669536598.3914204]",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,"[51.0, 330.0, 1669536599.5513375]","[13.0, 21.0, 1669536599.5513375]","[9.0, 17.0, 1669536599.5513375]","[9.0, 11.5, 1669536599.5513375]","[1.55, 1.85, 1669536599.5513375]","[91.0, 830.0, 1669536599.5513375]","[8.0, 11.0, 1669536599.5513375]","[6.0, 7.8, 1669536599.5513375]",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,"[51.0, 330.0, 1669536600.7313757]","[13.0, 21.0, 1669536600.7313757]","[9.0, 17.0, 1669536600.7313757]","[9.0, 11.5, 1669536600.7313757]","[1.55, 1.85, 1669536600.7313757]","[91.0, 830.0, 1669536600.7313757]","[8.0, 11.0, 1669536600.7313757]","[6.0, 7.8, 1669536600.7313757]",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,"[51.0, 310.0, 1669536601.9278998]","[13.0, 22.0, 1669536601.9278998]","[9.0, 17.0, 1669536601.9278998]","[9.0, 11.5, 1669536601.9278998]","[1.55, 1.85, 1669536601.9278998]","[91.0, 820.0, 1669536601.9278998]","[8.0, 11.0, 1669536601.9278998]","[6.0, 7.8, 1669536601.9278998]",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
# Convert dataframe so every column is it's own row
log_long = pd.DataFrame.transpose(log, copy=True)
#rename first column 
log_long = log_long.rename(columns={0: 'horse'})
log_long.head()
#number of horses in dataframe
nrow = len(log_long)
#number of columns in dataframe
ncol = len(log_long.columns)
print(f"df has {nrow} horses and {ncol} columns")

df has 43 horses and 1008 columns